---
import YTiframe from "@/components/YTiframe.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Blog";

export async function getStaticPaths({ paginate }) {
  // Fetch all posts
  const allPosts = await Astro.glob("./*.mdx");
  // Filter out drafts
  const pubPosts = allPosts.filter((post) => !post.frontmatter.draft);
  // Sort by date
  pubPosts.sort(
    (a, b) =>
      Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
  );
  return paginate(pubPosts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1>This Is a {pageTitle} of Sorts</h1>

    <!-- Posts -->
    <div class="mx-auto max-w-6xl divide-y divide-gray-200">
      {
        page.data.map((post: any) => (
          <article class="mx-auto my-4 max-w-6xl py-4">
            <div class="space-y-4">
              {post.frontmatter.img &&
                post.frontmatter.img.map((src: string) => (
                  <img src={src} alt={post.frontmatter.title} loading="lazy" />
                ))}

              {post.frontmatter.video && (
                <YTiframe video={post.frontmatter.video} />
              )}
            </div>

            <div class="mx-4 mb-4 max-w-3xl space-y-2 lg:mx-8">
              {post.frontmatter.body && (
                <p class="text-left">{post.frontmatter.body}</p>
              )}

              <p class="text-left text-sm text-gray-400">
                {new Intl.DateTimeFormat("en-US", {
                  dateStyle: "medium",
                }).format(new Date(post.frontmatter.pubDate))}
              </p>
            </div>
          </article>
        ))
      }
    </div>

    <!-- Pagination -->
    <div class="space-y-2 border-t-2 border-t-gray-200 pt-8">
      <div class="space-x-4 text-2xl">
        {page.url.prev ? <a href={page.url.prev}>&larr; Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next &rarr;</a> : null}
      </div>
      <p class="-mt-2 text-gray-400">
        Page {page.currentPage} of {page.lastPage}
      </p>
    </div>
  </section>

  <h2 class="mt-16 capitalize">This is my work</h2>
</BaseLayout>
