---
import YTiframe from "@/components/YTiframe.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Blog";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.mdx");
  allPosts.sort(
    (a, b) =>
      Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
  );
  return paginate(allPosts, { pageSize: 4 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <section class="">
    <h1>{pageTitle}</h1>

    <div class="mx-auto max-w-6xl divide-y divide-gray-200">
      {
        page.data.map((post: any) => (
          <div class="mx-auto my-4 max-w-6xl space-y-4 py-4">
            {post.frontmatter.img.src1 && (
              <img src={post.frontmatter.img?.src1} />
            )}
            {post.frontmatter.img.src2 && (
              <img src={post.frontmatter.img.src2} />
            )}
            {post.frontmatter.img.src3 && (
              <img src={post.frontmatter.img.src3} />
            )}
            {post.frontmatter.img.src4 && (
              <img src={post.frontmatter.img.src4} />
            )}
            {post.frontmatter.img.src5 && (
              <img src={post.frontmatter.img.src5} />
            )}
            {post.frontmatter.img.src6 && (
              <img src={post.frontmatter.img.src5} />
            )}
            {post.frontmatter.video && (
              <YTiframe video={post.frontmatter.video} />
            )}
            <div class="mx-auto my-4 max-w-2xl space-y-2">
              {post.frontmatter.body && (
                <p class="text-left">{post.frontmatter.body}</p>
              )}
              <p class="text-left text-sm text-gray-400">
                {new Intl.DateTimeFormat("en-US", {
                  dateStyle: "medium",
                }).format(new Date(post.frontmatter.pubDate))}
              </p>
            </div>
          </div>
        ))
      }
    </div>

    <div class="space-y-2">
      <p class="-mt-2 text-gray-400">
        Page {page.currentPage} of {page.lastPage}
      </p>
      <div class="space-x-4 text-lg">
        {page.url.prev ? <a href={page.url.prev}>&larr; Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next &rarr;</a> : null}
      </div>
    </div>
  </section>
  <h2 class="mt-16">This is My Work</h2>
</BaseLayout>
