---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import Intro from "@/components/Intro.astro";
import Accordion from "@/components/Accordion.astro";
import Timeline from "@/components/Timeline.astro";
const pageTitle = "About";

import profile from "@/data/profile";
---

<PortfolioLayout pageTitle={pageTitle}>
  <section class="mx-auto max-w-full">
    <img
      alt="head image"
      src="/assets/about/head-now.jpg"
      width={1904}
      height={354}
      class="mx-auto mb-2 w-4/5 sm:mb-4 sm:w-3/5"
    />
    <div class="mx-auto max-w-3xl space-y-12 px-8 text-center">
      <Intro profile={profile} />
      <section class="space-y-12">
        <img src="/assets/about/eye-open.png" class="hidden" />
        <Accordion title="Career">
          <p>This is my career:</p>
          <Timeline
            timelineData={profile.timelineData}
            earlyLife={profile.earlyLife}
          />
        </Accordion>
        <Accordion title="Awards">
          {
            profile.creativeAwards.map(({ title, awards }) => (
              <div id={title}>
                <h3 class="font-bold">{title}</h3>
                <ul class="list-none">
                  {awards.map((award) => (
                    <li id={award}>{award}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </Accordion>
        <Accordion title="Exhibitions">
          {
            profile.exhibitions.map((exhibition) => (
              <p id={exhibition}>{exhibition}</p>
            ))
          }
        </Accordion>
      </section>
    </div>
    <img
      alt="shoes image"
      src="/assets/about/shoes.jpg"
      width="1340"
      height="309"
      class="my-8 mx-auto w-4/5 sm:w-6/12"
    />
    <h2 class="mt-16">My Work</h2>
  </section>
</PortfolioLayout>
