---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Accordion from "@/components/Accordion.astro";
const pageTitle = "About";
const currentInfo = true;

const profile = {
  name: "Max Elbo",
  firstCompany: "Ogilvy & Mather",
  firstTitle: "a Junior Art Director",
  secondTitle: "an Art Director",
  secondCompany: "BBDO",
  thirdCompany: "J. Walter Thompson Dubai",
  fourthCompany: "Amplifier",
  currentCompany: "Deloitte",
  currentTitle: "a Frontend Developer",
  currentLocation: "Tokyo, Japan",
  creativeAwards: [
    {
      title: "Cannes Lions",
      awards: ["Silver + Bronce - AMIA - The Bread of Memory (2013)"],
    },
    {
      title: "Dubai Lynx",
      awards: [
        "Grand Prix - Kinokuniya - Cost (2017)",
        "Silver + Bronze (x2) - Boecker - Pestryoshkas (2017)",
      ],
    },
    {
      title: "New York Festivals",
      awards: ["Bronze - Boecker - Pestryoshkas (2017)"],
    },
    {
      title: "Clio",
      awards: ["Bronze (x2) - AMIA - The Bread of Memory (2013)"],
    },
    {
      title: "EFFIE",
      awards: ["Silver - AMIA - The Bread of Memory (2013)"],
    },
    {
      title: "Wave Festival",
      awards: [
        "Gold (x2) + Silver + Bronze - AMIA - The Bread of Memory (2013)",
      ],
    },
    {
      title: "El sol",
      awards: [
        "Gold - AMMAR - Mom Calling Cards (2012)",
        "Gold + Bronze - AMIA - The Bread of Memory (2013)",
      ],
    },
    {
      title: "Yahoo Big Idea Chair Argentina",
      awards: ["Winner - AMIA - The Bread of Memory (2012)"],
    },
    {
      title: "Lories",
      awards: [
        "Silver - Infiniti - See What You Don't (2019) (as an illustrator)",
      ],
    },
    {
      title: "El diente",
      awards: [
        "Gold - AMIA - The Bread of Memory (2012)",
        "Bronze - Dr. Lemon - Kung Fu (2013)",
        "Bronze - Mercado - Make Sense where the World Doesn't (2015) (as an illustrator)",
      ],
    },
    {
      title: "FIAP",
      awards: [
        "Gold - AMIA - The Bread of Memory (2014)",
        "Silver + Bronze - AMMAR - Mom Calling Cards (2012)",
      ],
    },
    {
      title: "Antigua Festival",
      awards: ["Gold - AMIA - The Bread of Memory (2013)"],
    },
  ],
  exhibitions: [
    "2009 - Grand Small Works, juried art exhibition, F.U.E.L Collection Gallery, Philadelphia, PA",
    "2010 - Solo Exhibition, Centro Cultural Belleasco, Buenos Aires, Argentina",
    "2015 - Café con Cuento, Galería Escaparate, Valparaíso, Chile",
    "2015 - Solo Exhibition, Biblioteca Viva Norte, Santiago, Chile",
    "2016 - Dē Rādīcibus —a show with my siblings—, Biblioteca Viva Tobalaba, Santiago, Chile",
    "2016 - Solo Exhibition, Biblioteca Viva Sur, Santiago, Chile",
    "2016 - Art Stgo, GAM, Santiago, Chile",
  ],
};
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mx-auto max-w-full">
    <img
      alt="head image"
      src="/assets/about/head.jpg"
      width={1904}
      height={354}
      class="mx-auto"
    />
    <div class="mx-auto max-w-3xl space-y-12 px-8 text-center">
      <section>
        <p class="font-bold">Hi,</p>
        <p>{`I'm ${profile.name}.`}</p>
        {
          currentInfo && (
            <p>
              {`I'm currently working at ${profile.currentCompany} in ${profile.currentLocation}.`}
            </p>
          )
        }
      </section>
      <section class="space-y-12">
        <Accordion title="Career">
          <p>
            {
              `I was born in Chile and started working in 2011 at ${profile.firstCompany} in Buenos Aires,
            Argentina, as ${profile.firstTitle}. By the end of 2012 I moved to BBDO Argentina, and a year later
            I started working as a full-time Freelance Illustrator doing editorial
            and advertising work, part of it while living in a small town in the
            mountains of Mexico, in the middle of nowhere. In 2016 I started working
            as ${profile.secondTitle} at ${profile.thirdCompany}, and since January 2018
            I've been working in ${profile.currentLocation}, first at ${profile.fourthCompany}, doing illustration and animation, and since June 2020, at
            ${profile.currentCompany}, where I'm currently doing frontend development.`
            }
          </p>
        </Accordion>
        <Accordion title="Awards">
          {
            profile.creativeAwards.map(({ title, awards }) => (
              <div id={title}>
                <h3 class="font-bold">{title}</h3>
                <ul class="list-none">
                  {awards.map((award) => (
                    <li id={award}>{award}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </Accordion>
        <Accordion title="Exhibitions">
          {
            profile.exhibitions.map((exhibition) => (
              <p id={exhibition}>{exhibition}</p>
            ))
          }
        </Accordion>
      </section>
    </div>
    <img
      alt="head image"
      src="/assets/about/shoes.jpg"
      width="1340"
      height="309"
      class="my-8 mx-auto"
    />
  </div>
  <h2 class="mt-16">This is My Work</h2>
</BaseLayout>
