---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import Intro from "@/components/Intro.astro";
import Accordion from "@/components/Accordion.jsx";
import Timeline from "@/components/Timeline.astro";

import { Image } from "astro:assets";
import headImage from "~/public/assets/about/head.webp";
import shoesImage from "~/public/assets/about/shoes.webp";

import profile from "@/data/profile.js";

const educationActive = true;
const certificationsActive = true;
const awardsActive = true;
const exhibitionsActive = true;

const pageTitle = "About";
const projectListTitle = "My Work";
---

<PortfolioLayout {pageTitle} {projectListTitle}>
  <section class="mx-auto max-w-full">
    <Image
      alt="head"
      src={headImage}
      loading="eager"
      class="mx-auto mb-2 w-4/5 sm:mb-4 sm:w-3/5"
      transition:name="face"
    />
    <div class="mx-auto max-w-3xl space-y-12 px-8 text-center">
      <Intro {profile} transition:name="intro" />
      <!-- Load open eye -->
      <img
        src="/assets/about/eye-open.webp"
        alt="loading image of eye open"
        class="hidden"
      />
      <section class="flex flex-col items-center space-y-12">
        <div>
          <Accordion title="Career" client:load>
            <div class="my-4 space-y-4">
              <p>This is my career:</p>
              <Timeline timelineData={profile.timelineData} />
            </div>
          </Accordion>
        </div>
        {
          educationActive && (
            <div>
              <Accordion title="Education" client:load>
                <div class="my-4 space-y-4">
                  {profile.educationData.map(
                    ({ logo, institution, degree, date }) => (
                      <div>
                        <Image
                          src={`/assets/about/education/logo-${logo}.webp`}
                          alt={`logo of ${institution}`}
                          width={32}
                          height={32}
                          class="mx-auto rounded-full md:h-10 md:w-10"
                        />
                        <p class="text-lg font-bold">{institution}</p>
                        <p>{degree}</p>
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                          {date}
                        </p>
                      </div>
                    )
                  )}
                </div>
              </Accordion>
            </div>
          )
        }
        {
          certificationsActive && (
            <div>
              <Accordion title="Certifications" client:load>
                <div class="my-4 space-y-4">
                  {profile.certificationsData.map(
                    ({ logo, certification, id, date }) => (
                      <div>
                        <Image
                          src={`/assets/about/education/logo-${logo}.webp`}
                          alt={`logo of ${certification}`}
                          width={32}
                          height={32}
                          class="mx-auto rounded-full md:h-10 md:w-10"
                        />
                        <p class="text-lg font-bold">{certification}</p>
                        <p>Credential ID {id}</p>
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                          Issued {date}
                        </p>
                      </div>
                    )
                  )}
                </div>
              </Accordion>
            </div>
          )
        }
        {
          awardsActive && (
            <div>
              <Accordion title="Awards" client:load>
                <div class="my-4 space-y-4">
                  {profile.creativeAwards.map(({ title, awards }) => (
                    <div>
                      <span class="font-bold">{title}</span>
                      <ul class="list-none">
                        {awards.map((award) => (
                          <li id={award}>{award}</li>
                        ))}
                      </ul>
                    </div>
                  ))}
                </div>
              </Accordion>
            </div>
          )
        }
        {
          exhibitionsActive && (
            <div>
              <Accordion title="Exhibitions" client:load>
                <div class="my-4 space-y-4">
                  {profile.exhibitions.map(({ date, title, location }) => (
                    <div>
                      <p class="font-bold">{title}</p>
                      <p>{location}</p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">
                        {date}
                      </p>
                    </div>
                  ))}
                </div>
              </Accordion>
            </div>
          )
        }
      </section>
    </div>
    <Image alt="shoes" src={shoesImage} class="mx-auto my-8 w-4/5 sm:w-7/12" />
  </section>
</PortfolioLayout>
