---
const { title, displayTitle, url, description } = Astro.props;
---

<a
  id={title}
  href={url}
  class="m-4 text-gray-700 transition hover:text-gray-500 hover:no-underline focus:text-gray-500"
>
  <img
    alt={`${title} card`}
    src={`/assets/cards/card-${title}.png`}
    width="252"
    height="350"
  />
  <div class="text-center">
    <h3>{displayTitle}</h3>
    <p class="-mt-3 italic text-gray-400">
      —{description}—
    </p>
  </div>
</a>
