---
import { Image } from "astro:assets";

const { title, displayTitle, url, description } = Astro.props;
---

<a
  id={title}
  href={url}
  class="group/card m-4 text-gray-700 transition hover:text-gray-500 hover:no-underline focus:text-gray-500"
>
  <Image
    alt={`${title} card`}
    src={`/assets/projects/${title}/${title}-card.webp`}
    width={252}
    height={350}
    loading="lazy"
    class="shadow-md group-hover/card:-translate-y-0.5 group-hover/card:scale-[1.01] group-hover/card:shadow-lg group-hover/card:transition group-hover/card:delay-150 group-hover/card:ease-out group-active/card:shadow-lg"
  />
  <div class="mt-1 text-center">
    <h3>{displayTitle}</h3>
    <p class="-mt-1 italic text-gray-500">
      &mdash;{description}&mdash;
    </p>
  </div>
</a>
