---
import { Image } from "astro:assets";

import socialLinkedIn from "~/public/assets/about/social-icons/linkedin-icon.svg";
import socialGitHub from "~/public/assets/about/social-icons/github-icon.svg";

const currentInfo = true;
const contactInfo = true;
const socialMedia = true;

const { profile } = Astro.props;
const { siteData } = profile;
---

<section>
  <strong>Hello, World!</strong>
  <p>I&apos;m {siteData.author}.</p>
  {
    currentInfo && (
      <p>
        I bridge the gap between
        <br class="sm:hidden" />
        <strong>design &amp; development</strong>
        <br />
        at <strong>{siteData.company}</strong>
        in {siteData.city}, {siteData.country} <span id="japan-emoji">ðŸ‡¯ðŸ‡µ</span>.
      </p>
    )
  }
  {
    contactInfo && (
      <p>
        You can contact me
        <a class="underline" href={`mailto:${siteData.email}`}>
          here.
        </a>
      </p>
    )
  }
  {
    socialMedia && (
      <div class="flex justify-center gap-4 pt-2">
        <a href={siteData.social.linkedin} aria-label="LinkedIn">
          <Image src={socialLinkedIn} alt="LinkedIn icon" class="w-5" />
        </a>
        <a href={siteData.social.github} aria-label="GitHub">
          <Image src={socialGitHub} alt="GitHub icon" class="w-5" />
        </a>
      </div>
    )
  }
</section>

<script>
  function japanEmojiSwap() {
    const japanEmoji = document.getElementById("japan-emoji");
    const emojiList = [
      "ðŸ‡¯ðŸ‡µ",
      "ðŸ—¼",
      "ðŸ—»",
      "ðŸ£",
      "ðŸœ",
      "ðŸ¡",
      "ðŸ¥",
      "ðŸµ",
      "ðŸ¶",
      "ðŸ®",
      "ðŸ§",
      "ðŸ¦",
      "ðŸ±",
      "ðŸŽ",
      "ðŸŽŽ",
      "ðŸŽ",
      "ðŸŽ‹",
      "ðŸŽŒ",
      "â›©ï¸",
      "ðŸ‘º",
      "ðŸ‘¹",
      "ðŸ‘˜",
      "ðŸ£",
      "ðŸ¯",
      "ðŸŒ¸",
      "ðŸš…",
      "ðŸ¥·",
    ];
    let index = 0;

    setInterval(() => {
      if (japanEmoji) {
        japanEmoji.textContent = emojiList[index];
      }
      index = (index + 1) % emojiList.length;
    }, 1000);
  }

  document.addEventListener("astro:after-swap", japanEmojiSwap);
  document.addEventListener("astro:page-load", () => {
    japanEmojiSwap();
  });
</script>
