---
import { Image } from "astro:assets";

import socialLinkedIn from "~/public/assets/about/social-icons/linkedin-icon.svg";
import socialGitHub from "~/public/assets/about/social-icons/github-icon.svg";

const currentInfo = true;
const contactInfo = true;
const socialMedia = true;

const { profile } = Astro.props;
const { siteData } = profile;
---

<section>
  <strong>Hello, World!</strong>
  <p>I&apos;m {siteData.author}.</p>
  {
    currentInfo && (
      <p>
        I bridge the gap between
        <br class="sm:hidden" />
        <strong>design &amp; development</strong>
        <br />
        at <strong>{siteData.company}</strong>
        in {siteData.city}, {siteData.country} <span id="japan-emoji">🇯🇵</span>.
      </p>
    )
  }
  {
    contactInfo && (
      <p>
        You can contact me
        <a class="underline" href={`mailto:${siteData.email}`}>
          here.
        </a>
      </p>
    )
  }
  {
    socialMedia && (
      <div class="flex justify-center gap-4 pt-2">
        <a href={siteData.social.linkedin} aria-label="LinkedIn">
          <Image src={socialLinkedIn} alt="LinkedIn icon" class="w-5" />
        </a>
        <a href={siteData.social.github} aria-label="GitHub">
          <Image src={socialGitHub} alt="GitHub icon" class="w-5" />
        </a>
      </div>
    )
  }
</section>

<script src="@/scripts/introEmoji.js"></script>
