---
const currentInfo = false;
const socialMedia = true;

const { profile } = Astro.props;
const { siteData } = profile;
---

<section>
  <p class="font-bold">Hello,</p>
  <p>{`I'm ${siteData.author},`}</p>
  <p>
    a
    <strong>{siteData.role}</strong>
    <br class="block sm:hidden" />
    based in
    {siteData.city}, {siteData.country}.
    {
      currentInfo && (
        <p>
          I'm currently working at
          <strong>{siteData.company}</strong>
          <br class="block sm:hidden" />
          in
          {siteData.city}, {siteData.country}.
        </p>
      )
    }
    <p>
      You can contact me
      <a class="underline" href=`mailto:${siteData.email}`>here</a>.
    </p>
    {
      socialMedia && (
        <div class="flex justify-center gap-4">
          <a href={siteData.social.linkedin} aria-label="LinkedIn">
            <i class="fab fa-linkedin-in text-gray-400" />
          </a>
          <a href={siteData.social.github} aria-label="GitHub">
            <i class="fa-brands fa-github text-gray-400" />
          </a>
        </div>
      )
    }
  </p>
</section>
