---
import { Image } from "astro:assets";

import socialLinkedIn from "~/public/assets/about/social-icons/linkedin-icon.svg";
import socialGitHub from "~/public/assets/about/social-icons/github-icon.svg";

const currentInfo = false;
const socialMedia = true;

const { profile } = Astro.props;
const { siteData } = profile;
---

<section>
  <p class="font-bold">Hello,</p>
  <p>{`I'm ${siteData.author},`}</p>
  <p>
    <strong>{siteData.role}</strong>
    <br class="block sm:hidden" />
    based in
    {siteData.city}, {siteData.country}.
    {
      currentInfo && (
        <p>
          I'm currently working at
          <strong>{siteData.company}</strong>
          <br class="block sm:hidden" />
          in
          {siteData.city}, {siteData.country}.
        </p>
      )
    }
    <p>
      You can contact me
      <a class="underline" href=`mailto:${siteData.email}`>here</a>.
    </p>
    {
      socialMedia && (
        <div class="flex justify-center gap-4 pt-2">
          <a href={siteData.social.linkedin} aria-label="LinkedIn">
            <Image src={socialLinkedIn} alt="LinkedIn icon" class="w-5" />
          </a>
          <a href={siteData.social.github} aria-label="GitHub">
            <Image src={socialGitHub} alt="LinkedIn icon" class="w-5" />
          </a>
        </div>
      )
    }
  </p>
</section>
