---
import { Image } from "astro:assets";

import socialGmail from "~/public/assets/about/social-icons/gmail-icon.svg";
import socialLinkedIn from "~/public/assets/about/social-icons/linkedin-icon.svg";
import socialGitHub from "~/public/assets/about/social-icons/github-icon.svg";
import socialGitHubDark from "~/public/assets/about/social-icons/github-icon-dark.svg";

const currentInfo = true;
const callToAction = false;
const socialMedia = true;
const { author, company, city, country, email, social } = Astro.props.profile.siteData;
---

<section>
  <strong>Hello, World!</strong>
  <p>I'm {author}.</p>
  {
    currentInfo && (
      <p>
        I bridge the gap between
        <br class="sm:hidden" />
        <strong>design & development</strong>
        <br />
        at <strong>{company}</strong>
        in <strong>{city}, {country} </strong>
        <span id="japan-emoji">🇯🇵</span>
      </p>
    )
  }
  {
    callToAction && (
      <form
        action={`mailto:${email}`}
        target="_blank"
        class="pb-2 pt-4"
      >
        <button
          type="submit"
          class="h-12 min-w-0 rounded-lg bg-yellow-500 px-6 font-bold text-gray-900 shadow transition-colors duration-300 ease-in-out hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-opacity-50 "
        >
          Drop a line
        </button>
      </form>
    )
  }
  {
    socialMedia && (
      <div class="flex items-center justify-center gap-4 pt-4">
        <a
          href={`mailto:${email}`}
          target="_blank"
          aria-label="Send an email"
        >
          <Image src={socialGmail} alt="Gmail" class="w-5" />
        </a>
        <a
          href={social.linkedin}
          target="_blank"
          aria-label="Go to LinkedIn"
        >
          <Image src={socialLinkedIn} alt="LinkedIn" class="w-5" />
        </a>
        <a
          href={social.github}
          target="_blank"
          aria-label="Go to GitHub"
        >
          <Image 
          src={socialGitHub} 
          alt="GitHub" 
          class="w-5 dark:hidden" 
          />
          <Image 
          src={socialGitHubDark} 
          alt="GitHub" 
          class="w-5 hidden dark:block" 
          />
        </a>
      </div>
    )
  }
</section>

<script src="@/scripts/introEmoji.js"></script>
