---
import { Image } from "astro:assets";
import YTiframe from "@/components/YTiframe.astro";
import { formatDate } from '@/scripts/utils';

const { title, img, video, body, pubDate } = Astro.props.frontmatter;
---

<div class="space-y-4">
  { 
    img && img.length > 0 && 
    img.map((src: string, i: number) => (
      <Image
        {src}
        alt={`${title} - ${i + 1}`}
        width={600}
        height={300}
        class="w-full"
      />
    ))
  }
  { video && <YTiframe {title} {video} /> }
</div>
<div class="mx-4 mb-4 max-w-3xl space-y-2 lg:mx-8">
  <div class="text-left">
    { body && <p set:html={body} /> }
    <slot/>
  </div>
  <p class="text-left text-xs text-gray-500 dark:text-gray-300">
    {formatDate(pubDate)}
  </p>
</div>