---
import Card from "@/components/Card.astro";

const { projectListTitle, projects } = Astro.props;
---

<section transition:name="ProjectList">
  {projectListTitle && <h2 class="mt-16 capitalize">{projectListTitle}</h2>}
  <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 sm:gap-4 justify-items-center">
    {
      projects.length !== 0 
      ? (
        projects.map((project: ProjectType) => (
          <Card
            displayTitle={project.frontmatter.displayTitle}
            url={project.url}
            description={project.frontmatter.description}
            title={project.frontmatter.title}
          />
        ))
      ) 
      : (
        <span class="m-4 text-gray-700 dark:text-gray-200">Coming soon…</span>
      )
    }
  </div>
</section>
