---
import Card from "@/components/Card.astro";

const { projectListTitle, projects } = Astro.props;
---

<section transition:name="ProjectList">
  {projectListTitle && <h2 class="mt-16 capitalize">{projectListTitle}</h2>}
  <div class="flex flex-wrap justify-center">
    {
      projects.length !== 0 ? (
        projects.map((project) => (
          <Card
            title={project.frontmatter.title}
            displayTitle={project.frontmatter.displayTitle}
            url={project.url}
            description={project.frontmatter.description}
          />
        ))
      ) : (
        <span class="m-4 text-gray-700">Coming soon…</span>
      )
    }
  </div>
</section>
