---
import { Image } from "astro:assets";


const roleActive = true;
const descriptionActive = false;
const actionsActive = true;
const clientsActive = true;
const skillsActive = true;

const { timelineData } = Astro.props;
---

<div>
  <ul
    class="timeline relative m-auto w-full list-none px-0 pt-16 pb-8 md:w-[660px] md:py-16"
  >
    {
      timelineData.map((item: TimelineType) => (
        <li class="px-0 py-9 after:clear-both after:block md:py-4">
          <div class={`group ${item.direction} relative w-full md:w-[300px]`}>
            <div class="flag-wrapper relative inline-block">
              {item.logo && (
                <Image
                  src={`/assets/about/career/logo-${item.logo}.webp`}
                  alt={`logo of ${item.company}`}
                  width={32}
                  height={32}
                  class="timeline-logo absolute -top-12 left-[50%] z-20 -ml-4 rounded-full bg-black md:-top-2 md:-ml-5 md:h-10 md:w-10"
                />
              )}
              <span
                class="flag relative z-10 inline rounded bg-black py-1 px-2 text-left font-semibold text-white shadow-sm"
                title={item.title}
              >
                {item.company}
              </span>
              <div class="details-wrapper relative z-10 mt-1 flex flex-col gap-1 text-xs leading-3">
                <span class="date m-auto inline-block w-fit bg-slate-100 dark:bg-slate-950 px-2 py-1">
                  {item.date}
                </span>
                {item.place && (
                  <span class="place m-auto inline-block w-fit bg-slate-100 dark:bg-slate-950 px-2 py-1">
                    {item.place}
                  </span>
                )}
              </div>
            </div>
            {item.positions.map((position) => (
              <div class="desc rounded-lg relative z-10 mx-auto mt-2 mb-0 max-w-sm bg-slate-100 dark:bg-slate-700 p-4 text-left text-sm shadow-sm md:mt-4 md:group-[.dir-l]:mr-3 md:group-[.dir-r]:ml-3">
                {roleActive && (
                  <p class="text-base font-bold">{position.role}</p>
                )}
                {position.date && (
                  <div class="flex gap-2 text-xs">
                    {roleActive && position.subrole && (
                      <span class="font-bold">{position.subrole}</span>
                    )}
                    {position.date && <span>{position.date}</span>}
                  </div>
                )}
                {descriptionActive && <p>{position.description}</p>}
                {actionsActive && position.actions && (
                  <ul class="ml-4 list-disc">
                    {position.actions.map((action) => (
                      <li>{action}</li>
                    ))}
                  </ul>
                )}
                <div class="info-wrapper z-20 mx-0 my-2 flex flex-col flex-wrap gap-4">
                  {clientsActive && position.clients && (
                    <div>
                      <strong>Clients:</strong>
                      <ul class="m-0 flex list-none flex-row flex-wrap gap-1 p-0">
                        {position.clients.map((client) => (
                          <li class="bg-slate-200 dark:bg-slate-800 rounded-sm py-0 px-2 shadow-md">
                            {client}
                          </li>
                        ))}
                      </ul>
                    </div>
                  )}
                  {skillsActive && position.skills && (
                    <div>
                      <strong>Skills:</strong>
                      <ul class="m-0 flex list-none flex-row flex-wrap gap-1 p-0">
                        {position.skills.map((skill) => (
                          <li class="bg-slate-200 dark:bg-slate-800 rounded-sm py-0 px-2 shadow-md">
                            {skill}
                          </li>
                        ))}
                      </ul>
                    </div>
                  )}
                </div>
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</div>

<style is:global>
  .timeline::before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 1px;
    height: 100%;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(30, 87, 153, 1)),
      color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );

    z-index: 5;
  }

  .dir-l,
  .dir-r {
    float: none;
  }

  @media (min-width: 768px) {
    .dir-l {
      float: left;
      text-align: right;
    }

    .dir-r {
      float: right;
      text-align: left;
    }
  }

  .dir-l .flag::after,
  .dir-r .flag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: var(--black);
    border-width: 8px;
    pointer-events: none;
  }

  @media (min-width: 768px) {
    .dir-l .flag::after,
    .dir-r .flag::after {
      left: auto;
      top: 50%;
      margin-left: auto;
      margin-top: -5%;
      border-width: 5px;
      border-bottom-color: white;
    }

    .dark .dir-l .flag::after,
    .dark .dir-r .flag::after {
      border-bottom-color: rgb(41 37 36 / var(--tw-bg-opacity));
    }

    .dir-l .flag::after {
      left: 100%;
      border-left-color: var(--black);
    }

    .dir-r .flag::after {
      right: 100%;
      border-right-color: var(--black);
    }

    .dir-r .timeline-logo {
      right: auto;
      left: -30px;
    }

    .dir-l .timeline-logo {
      right: -50px;
      left: auto;
    }
  }

  @media (min-width: 768px) {
    .dir-l .details-wrapper {
      float: left;
      flex-flow: row-reverse;
    }

    .dir-r .details-wrapper {
      float: right;
      flex-flow: row;
    }
  }
</style>
