---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import { Image } from "astro:assets";
import YTiframe from "@/components/YTiframe.astro";

const projectListTitle = "More Work";
const { title, img, video, body, pubDate } = Astro.props.frontmatter;
---

<PortfolioLayout pageTitle={title} {projectListTitle}>
  <article>
    <div class="space-y-4">
      {
        img.length > 0 &&
          img.map((src: string) => (
            <Image
              {src}
              alt={title}
              width={600}
              height={300}
              class="w-full"
            />
          ))
      }
      {
        video && (
          <YTiframe {title} {video} />
        )
      }
    </div>
    <div class="mx-4 my-4 max-w-3xl space-y-2 lg:mx-8">
      <div class="text-left">
        {body && <p set:html={body} />}
        <slot />
      </div>
      <p class="text-left text-xs text-gray-500">
        {
          new Intl.DateTimeFormat("en-US", {
            dateStyle: "medium",
          }).format(new Date(pubDate))
        }
      </p>
    </div>
  </article>
  <div
    class="flex items-center justify-center border-t border-gray-200 px-4 text-xl sm:px-0 sm:text-lg"
  >
    <a
      href="javascript:history.back()"
      class="inline-flex cursor-pointer items-center border-t-2 border-transparent pr-1 pt-4 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"></path>
      </svg>
      Back
    </a>
  </div>
</PortfolioLayout>
