---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import { Image } from "astro:assets";
import signature from "~/public/signature.webp";
import signatureDark from "~/public/signature-dark.webp";

const projectListTitle = "More Work";
const { 
  displayTitle: pageTitle, 
  description 
} = Astro.props.frontmatter;
---

<PortfolioLayout {pageTitle} {projectListTitle}>
  <article class="mx-auto mb-8 max-w-3xl text-center">
    <!-- Title -->
    <div class="pb-4">
      <h1>{pageTitle}</h1>
      {
        description && (
          <p class="italic text-gray-500 dark:text-gray-400">
            —{description}—
          </p>
        )
      }
    </div>
    
    <!-- Content -->
    <slot />

    <!-- Signature -->
    <Image alt="max elbo." src={signature} class="w-[30px] mt-8 lg:w-[35px] dark:hidden" />
    <Image alt="max elbo." src={signatureDark} class="w-[30px] mt-8 lg:w-[35px] hidden dark:block" />
    
    <hr />
    <!-- More Work -->
  </article>
</PortfolioLayout>
